<article>
    <form action="/api/sessions/register" method="post">
        <header><h1>Registro de nuevo usuario</h1></header>
        <input type="text" name="first_name" placeholder="Nombre" required>
        <input type="text" name="last_name" placeholder="Apellido" required>
        <input type="email" name="email" placeholder="correo" required>
        <input type="password" name="password" placeholder="contraseña" required>
        <input type="number" name="age" placeholder="edad" >
        <footer>
            <input type="submit" value="entrar">
        </footer>
        <a href="/views/login" role="button">Iniciar session</a>
    </form>
</article>